body {
  position: relative;
  background-image: url(./../img/loginBackground_2.JPG);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* SIGNUP MOBILE - START ///////////////////////////////////////////////////////// */

/* SIGNUP FORM - START ///////////////////////////////////////////////////////// */

/* SIGNUP FORM - END ///////////////////////////////////////////////////////// */

/* SIGNUP MOBILE - END ///////////////////////////////////////////////////////// */

/* SIGNUP TABLET - START ( >=768 >=1200 ) ///////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}

/* SIGNUP TABLET - END ///////////////////////////////////////////////////////////////////////// */

/* SIGNUP PC - START ( >=768 >=1200 ) ///////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/* SIGNUP PC - START ///////////////////////////////////////////////////////////////////////// */
